/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;



textarea::placeholder {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}
textarea {
  resize: none
}